.call {
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding: 0 15px;
    box-sizing: border-box;
}

.callLeft {
    display: flex;
}

.callInfo {
    margin-left: 25px;
}

.call img {
    width: 24px;
    filter: invert(60%) sepia(17%) saturate(3845%) hue-rotate(74deg) brightness(96%) contrast(89%);
}

.callRight img {
    cursor: pointer;
    margin-left: 10px;
    width: 18px;
    filter: invert(0%) sepia(100%) saturate(7442%) hue-rotate(192deg) brightness(83%) contrast(112%);
}